<% layout('../globals/layout') %>

<h1>Judo Techniques</h1>

<section class="techniques-container">
    <ul>
        <li>All</li>
        <li>Nage-waza</li>
        <li>Katame-waza</li>
    </ul>
    <section class="technique-list" data-techniques='<%- techniquesJson %>'></section>
</section>
