<% layout('../globals/layout') %>

<section class="techniques-container">
    <h1><%= titleOverride ? titleOverride : 'Judo Techniques' %></h1>
    <section class="technique-groups">
        <section class="technique-group col1">
            <label class="<%= allTechniquesClass %>" ><input type="radio" name="group" value="all" checked="checked" data-title="Judo Techniques"><span><strong>All Judo Techniques</strong></span></label>
        </section>
        <section class="technique-group col2">
            <label class="throws"><input type="radio" name="group" value="Nage-Waza" data-title="Nage-Waza Techniques"> <span><strong>Nage-Waza (Throws)</strong></span> </label>
            <label class="grapples"><input type="radio" name="group" value="Katame-Waza" data-title="Katame-Waza Techniques"> <span><strong>Katame-Waza (Grappling)</strong></span> </label>
        </section>
        <section class="technique-group sub-group throws col3">
            <label><input type="radio" name="subgroup" value="Ashi-Waza" data-title="Ashi-Waza Techniques"> <span>Ashi-Waza</span></label>
            <label><input type="radio" name="subgroup" value="Koshi-Waza" data-title="Koshi-Waza Techniques"> <span>Koshi-Waza</span> </label>
            <label><input type="radio" name="subgroup" value="Te-Waza" data-title="Te-Waza Techniques"> <span>Te-Waza</span> </label>
            <label class="col2"><input type="radio" name="subgroup" value="Yoko-sutemi" data-title="Yoko-sutemi Techniques"> <span>Yoko-sutemi</span> </label>
            <label class="col2"><input type="radio" name="subgroup" value="Ma-sutemi" data-title="Ma-sutemi Techniques"> <span>Ma-sutemi</span> </label>
        </section>
        <section class="technique-group sub-group grapples col2">
            <label><input type="radio" name="subgroup" value="Osaekomi-Waza" data-title="Osaekomi-Waza Techniques"> <span>Osaekomi-Waza</span> </label>
            <label><input type="radio" name="subgroup" value="Shimewaza" data-title="Shimewaza Techniques"> <span>Shimewaza</span> </label>
            <label><input type="radio" name="subgroup" value="Kinshi-Waza" data-title="Kinshi-Waza Techniques"> <span>Kinshi-Waza</span> </label>
            <label><input type="radio" name="subgroup" value="Kansetsu-Waza" data-title="Kansetsu-Waza Techniques"> <span>Kansetsu-Waza</span> </label>
        </section>
    </section>

    <section class="technique-list" data-techniques='<%- techniquesJson %>'></section>

    <section class="page"></section>
</section>
<script id="techniqueItem" type="text/template">
    <article class="technique-item" data-path="{{ path }}">
        <div class="sprite {{ spriteName }}" style="background-position: {{ backgroundPosition }}">&nbsp;</div>
        <header>{{ name }}</header>
        <section>{{ description }}</section>
    </article>
</script>

<script id="pageTemplate" type="text/template">
    <section>{{ description }}</section>
</script>

<% include ../globals/post.ejs %>
<% include ../globals/newPost.ejs %>
