<% layout('../globals/layout') %>

<section class="techniques-container">
    <h1><%= titleOverride ? titleOverride : 'Judo' %> Techniques</h1>
    <section class="technique-groups">
        <section class="technique-group col3">
            <label class="<%= allTechniquesClass %>" ><input type="radio" name="group" value="all" checked="checked" data-title="Judo Techniques"> All </label>
            <label><input type="radio" name="group" value="Nage-Waza" data-title="Nage-Waza Techniques"> Nage-Waza </label>
            <label><input type="radio" name="group" value="Katame-Waza" data-title="Katame-Waza Techniques"> Katame-Waza </label>
        </section>
        <section class="technique-group col5">
            <label><input type="radio" name="subgroup" value="Ashi-Waza" data-title="Ashi-Waza Techniques"> Ashi-Waza </label>
            <label><input type="radio" name="subgroup" value="Koshi-Waza" data-title="Koshi-Waza Techniques"> Koshi-Waza </label>
            <label><input type="radio" name="subgroup" value="Te-Waza" data-title="Te-Waza Techniques"> Te-Waza </label>
            <label><input type="radio" name="subgroup" value="Yoko-sutemi" data-title="Yoko-sutemi Techniques"> Yoko-sutemi </label>
            <label><input type="radio" name="subgroup" value="Ma-sutemi" data-title="Ma-sutemi Techniques"> Ma-sutemi </label>
        </section>
        <section class="technique-group col4">
            <label><input type="radio" name="subgroup" value="Osaekomi-Waza" data-title="Osaekomi-Waza Techniques"> Osaekomi-Waza </label>
            <label><input type="radio" name="subgroup" value="Shimewaza" data-title="Shimewaza Techniques"> Shimewaza </label>
            <label><input type="radio" name="subgroup" value="Kinshi-Waza" data-title="Kinshi-Waza Techniques"> Kinshi-Waza </label>
            <label><input type="radio" name="subgroup" value="Kansetsu-Waza" data-title="Kansetsu-Waza Techniques"> Kansetsu-Waza </label>
        </section>
    </section>

    <section class="technique-list" data-techniques='<%- techniquesJson %>'></section>

    <section class="technique-page"></section>
</section>
<script id="techniqueItem" type="text/template">
    <article class="technique-item" data-path="{{ path }}">
        <div class="sprite {{ spriteName }}" style="background-position: {{ backgroundPosition }}">&nbsp;</div>
        <header>{{ name }}</header>
        <section>{{ description }}</section>
    </article>
</script>

<script id="techniquePage" type="text/template">
    <header>{{ name }}</header>
    <section>{{ description }}</section>
</script>