<% layout('../globals/layout') %>

<h1>Users</h1>

<ul class="users">
    <% userList.forEach(function(user){ %>
        <li class="user">
            <a href="/users/<%= user.username %>">
                <% if (user.gravatarHash) { %>
                    <img src="http://www.gravatar.com/avatar/<%= user.gravatarHash %>?s=75" />
                <% } %>
                <%= user.username %>
            </a>
        </li>
    <% }); %>
</ul>
