<% layout('../globals/layout') %>

<h1>Login</h1>
<form role='form' action="/login" method="post">
    <input type='text' name="username" placeholder='Enter Username'/>
    <input type='password' name="password" placeholder='Password'/>
    <input type='submit'/>
</form>
