<% layout('../globals/layout') %>

<h1>Registration Page</h1>
<form role='form' action="/register" method="post" class="auth-form">
    <label>Username: <input type='text' name="username" placeholder='Username' class="auth-input" /></label>
    <label>Password: <input type='password' name="password" placeholder='Password' class="auth-input" /></label>
    <label>Email: <input type='text' name="email" placeholder='Email Address' class="auth-input" /></label>
    <label><input type='submit'/></label>
</form>