<% layout('../globals/layout') %>

<section class="pages-container">
    <h1><%= title %></h1>

    <section class="page" data-pagejson='<%- pageJson %>'></section>
</section>

<script id="pageTemplate" type="text/template">
    <section>{{ description }}</section>
</script>

<% include ../globals/post.ejs %>
<% include ../globals/newPost.ejs %>
