<% layout('globals/layout') %>

<h1>The Judo Resource</h1>
<p>
    This site was build with the intention of indexing videos, images, and documents on all things Judo.
</p>

<p>
    If you are interested in contributing, please <a href="/register">Register</a> here.
    Once you're ready, you can submit pictures / videos on the various <a href="/techniques">Techniques Pages</a>, or vote on the content you find most valuable.
</p>

<p>
    <strong>Disclaimer:</strong> I claim no ownership over the content found on this site. All content is user contributed.
</p>