<!DOCTYPE html>
<html>
<head>
    <title>Judoka Resource</title>
    <meta name="keywords" content="Judo" />
    <meta charset="UTF-8" />
    <meta name="author" content="Tyler Stark" />
    <link href="/styles/style.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/scripts/main.js"></script>
</head>
<body>

<div class="container">

    <section class="header inner">
        Header
    </section>

    <section class="inner">
        <section class="main">
            <%- body %>
        </section>
        <section class="sidebar">
            <% include sidebar.ejs %>
        </section>
    </section>

    <section class="footer inner">
        Footer
    </section>
</div>
</body>
</html>