<!DOCTYPE html>
<html>
<head>
    <title>Judoka Resource</title>
    <meta name="keywords" content="Judo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="intial-scale=1.0, width=device-width" />
    <meta name="author" content="Tyler Stark" />
    <link href="/styles/style.css" rel="stylesheet" />
    <link href="/styles/lightbox.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/scripts/main.js"></script>
</head>
<body>
<div class="page-background"></div>
<section class="header">
    <div class="inner">
        <ul class="left">
            <li><a href="/">The Judoka Resource</a></li>
            <li><a href="/techniques">Techniques</a></li>
            <li class="nav-list">
                Resources
                <ul>
                    <li><a href="/resources/renraku-waza">Renraku Waza (Combinations)</a></li>
                    <li><a href="/resources/kuzushi">Kuzushi (Off Balancing)</a></li>
                </ul>
            </li>
        </ul>
        <ul class="right">
            <li><a href="/users">Users</a></li>
            <% if (!user) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <li>You are currently logged in as <a href="/myaccount"><%= user.username %></a></li>
                <li><a href="/logout">(logout)</a></li>
                <% if (user.isAdmin) { %>
                    <li><a href="/admin">(admin)</a></li>
                <% } %>
            <% } %>
        </ul>

    </div>
</section>

<div class="container">
    <section class="inner">
        <section class="main">
            <% if(error) { %>
                <div class="error">
                    <%= error.message %>
                </div>
            <% } %>

            <%- body %>
        </section>
    </section>
</div>

<section class="footer">
    <div class="inner">
        This site was made for the benefit of all Judoka.
    </div>
</section>

</body>
</html>