<!DOCTYPE html>
<html>
<head>
    <title>Judoka Resource</title>
    <meta name="keywords" content="Judo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="intial-scale=1.0, width=device-width" />
    <meta name="author" content="Tyler Stark" />
    <link href="/styles/style.css" rel="stylesheet" />
    <link href="/styles/lightbox.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/scripts/main.js"></script>
</head>
<body>
<div class="page-background"></div>
<section class="header">
    <div class="inner">
        <img class="left logo" src="/images/logo.png" />
        <ul class="nav">
            <li class="home-link"><a href="/">The Judo Resource</a></li>
            <li><a href="/techniques">Techniques</a></li>
            <li><a href="/about">About</a></li>
            <li class="nav-list">
                Resources <span class="nav-arrow">&#x25BC;</span>
                <ul>
                    <li><a href="/resources/history">History</a></li>
                    <li><a href="/resources/katas">Katas (Forms)</a></li>
                    <li><a href="/resources/kuzushi">Kuzushi (Off Balancing)</a></li>
                    <li><a href="/resources/renraku-waza">Renraku Waza (Combinations)</a></li>
                    <li><a href="/resources/kaeshi-waza">Kaeshi Waza (Countering)</a></li>
                </ul>
            </li>
            <li><a href="/users">Users</a></li>


            <% if (!user) { %>
                <li class="right"><a href="/register">Register</a></li>
                <li class="right"><a href="/login">Login</a></li>
            <% } else { %>
                <li class="right">You are currently logged in as <a href="/myaccount"><%= user.username %></a></li>
                <li class="right"><a href="/logout">(logout)</a></li>
                <% if (user.isAdmin) { %>
                    <li class="right"><a href="/admin">(admin)</a></li>
                <% } %>
            <% } %>
        </ul>

    </div>
</section>

<div class="container">
    <section class="inner hero">
        <section class="main">
            <% if(error) { %>
                <div class="error">
                    <%= error.message %>
                </div>
            <% } %>

            <%- body %>
        </section>
    </section>
</div>

<section class="footer">
    <div class="inner">
        This site was made for the benefit of all Judoka.
    </div>
</section>

</body>
</html>