<!DOCTYPE html>
<html>
<head>
    <title>Judo Resource</title>
    <meta name="keywords" content="Judo, Judoka, Judo videos, Judo images" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="intial-scale=1.0, width=device-width" />
    <meta name="author" content="Tyler Stark" />
    <link href="/styles/style.css" rel="stylesheet" />
    <link href="/styles/lightbox.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="Judo Resource" />
    <meta property="og:url" content="http://www.judoresource.com" />
    <meta property="og:description" content="A place to share all things Judo." />
    <meta property="og:image" content="http://www.judoresource.com/ogImage.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/scripts/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56930036-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="page-background"></div>
<section class="header">
    <div class="inner">
        <img class="left logo" src="/images/logo.png" />
        <ul class="nav">
            <li class="home-link"><a href="/">The Judo Resource</a></li>
            <li><a href="/techniques">Techniques</a></li>
            <li><a href="/about">About</a></li>
            <li class="nav-list">
                Resources <span class="nav-arrow">&#x25BC;</span>
                <ul>
                    <li><a href="/resources/history">History</a></li>
                    <li><a href="/resources/katas">Katas (Forms)</a></li>
                    <li><a href="/resources/kuzushi">Kuzushi (Off Balancing)</a></li>
                    <li><a href="/resources/renraku-waza">Renraku Waza (Combinations)</a></li>
                    <li><a href="/resources/kaeshi-waza">Kaeshi Waza (Countering)</a></li>
                </ul>
            </li>
            <li><a href="/users">Users</a></li>

            <% if (!user) { %>
                <li class="right"><a href="/register">Register</a></li>
                <li class="right"><a href="/login">Login</a></li>
            <% } else { %>
                <li class="right">Hi <a href="/myaccount"><%= user.username %></a>!</li>
                <li class="right"><a href="/logout">(logout)</a></li>
                <% if (user.isAdmin) { %>
                    <li class="right"><a href="/admin">(admin)</a></li>
                <% } %>
            <% } %>
        </ul>

    </div>
</section>

<div class="container">
    <section class="inner hero">
        <section class="main">
            <% if(error) { %>
                <div class="error">
                    <%= error.message %>
                </div>
            <% } %>

            <%- body %>
        </section>
    </section>
</div>

<section class="footer">
    <div class="inner">
        This site was made for the benefit of all Judoka.
    </div>
</section>

</body>
</html>