<!DOCTYPE html>
<html>
<head>
    <title>Judoka Resource</title>
    <meta name="keywords" content="Judo" />
    <meta charset="UTF-8" />
    <meta name="author" content="Tyler Stark" />
    <link href="/styles/style.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/scripts/main.js"></script>
</head>
<body>
<section class="header">
    <div class="inner">
        <ul>
            <li><a href="/">The Judoka Resource</a></li>
            <li><a href="/techniques">Techniques</a></li>
        </ul>
    </div>
</section>

<div class="container">
    <section class="inner">
        <section class="main">
            <%- body %>
        </section>
    </section>
</div>

<section class="footer">
    <div class="inner">
        Footer
    </div>
</section>

</body>
</html>