<script id="newPostTemplate" type="text/template">
    <article class="post">
        <header>Add a new Post</header>
        <form method="post" action="/posts">
            <label><strong>Title: </strong><input type="text" name="title" /></label>
            <label><strong>Url:</strong><input type="text" name="url" /></label>
            <strong>Type </strong><br/>
            <label>Youtube: <input type="radio" name="type" value="youtube" /></label>
            <label>Image: <input type="radio" name="type" value="image" /></label>
            <label>Link: <input type="radio" name="type" value="link" /></label>

            <input type="hidden" name="pageId" value="{{pageId}}" />
            <input class="submitNewPost" type="submit" />
        </form>
	</article>
</script>