<script id="newPostTemplate" type="text/template">
        <header>Add a new Post</header>
            <label><strong>Title: </strong><input type="text" name="title" /></label>
            <label><strong>Url:</strong><input type="text" name="url" /></label>
            <strong>Type </strong><br/>
            <label>Youtube: <input type="radio" name="type" value="youtube" /></label>
            <label>Image: <input type="radio" name="type" value="image" /></label>
            <label>Link: <input type="radio" name="type" value="link" /></label>

            <input type="hidden" name="pageId" value="{{pageId}}" />
            <input class="submitNewPost" type="submit" />
</script>

<script id="savedPostTemplate" type="text/template">
    <p>Thanks!</p>
    <p>Your post has been saved, an admin will review the post before it is visible live.</p>
</script>