<script id="newPostTemplate" type="text/template">
    <header>Add a new Post</header>
	<div class="new-post-row radio-wrap">
		<input type="radio" name="type" value="youtube" id="type-youtube" checked="checked" />
		<label for="type-youtube" class="left col2">Youtube</label>
		<input type="radio" name="type" value="image" id="type-image" />
		<label for="type-image" class="left col2">Image</label>
	</div>
    <div class="new-post-row"><input type="text" name="title" placeholder="Title" /></div>
    <div class="new-post-row">
		<input type="text" name="url" placeholder="Url" />
		<div class="url-text"
			 data-youtube="Example: https://www.youtube.com/watch?v=aaa"
			 data-image="Example: http://www.judo.com/image.jpg">
			&nbsp;
		</div>
	</div>

	<div class="new-post-row"><input class="submitNewPost" type="submit" /></div>
	<input type="hidden" name="pageId" value="{{pageId}}" />
    <div class="clear new-post-error"></div>
</script>

<script id="savedPostTemplate" type="text/template">
    <p>Thanks!</p>
    <p>Your post has been saved, an admin will review the post before it is visible live.</p>
</script>