<script id="postTemplate" type="text/template">
    <% if (isAdmin) { %>
        <span class="admin-operation delete-item" data-url="/posts/{{id}}" data-method="DELETE" data-callback="removeParent">x</span>
    <% } %>
        {[ if(type === 'youtube') { ]}
            <header title="{{title}}">{{title}}</header>
            <object width="210" height="150">
                <param name="movie" value="//{{url}}"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowscriptaccess" value="always"></param>
                <embed src="//{{url}}" type="application/x-shockwave-flash" width="210" height="150" allowscriptaccess="always" allowfullscreen="true"></embed>
            </object>
        {[ } else if(type === 'image') { ]}
            <header title="{{title}}">{{title}}</header>
            <div class="image-wrapper">
                <a class="image" href="{{url}}" data-lightbox="image" data-title="{{title}}" style="background-image: url({{url}})">
                    &nbsp;
                </a>
            </div>
        {[ } else { ]}
            <header title="{{title}}" class="link-header">
                <a href="{{url}}">{{title}}</a>
            </header>
        {[ } ]}
		<div class="voteWrapper {{userVoteClass}}" title="You must be logged in">
			<div class="upVote vote left" data-score="1">&#x25B2;</div>
			<span class="scoreValue">
				{[ if(score > 0) { ]}
					+ {{score}}
				{[ } else { ]}
					{{score}}
				{[ } ]}
			</span>
        	<div class="downVote vote right" data-score="-1">&#x25BC;</div>
        </div>

		<footer class="text-left">
            <div>Posted on {{dateString}}</div>
            {[ if(username) { ]}
                <div>by <a href="/users/{{username}}">{{username}}</a></div>
            {[ } ]}
        </footer>
</script>