<script id="postTemplate" type="text/template">
        {[ if(type === 'youtube') { ]}
            <header title="{{title}}">{{title}}</header>
            <object width="210" height="150">
                <param name="movie" value="//{{url}}"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowscriptaccess" value="always"></param>
                <embed src="//{{url}}" type="application/x-shockwave-flash" width="210" height="150" allowscriptaccess="always" allowfullscreen="true"></embed>
            </object>
        {[ } else if(type === 'image') { ]}
            <header title="{{title}}">{{title}}</header>
            <div class="image-wrapper">
                <a href="{{url}}" data-lightbox="image" data-title="{{title}}">
                    <img src="{{url}}" />
                </a>
            </div>
        {[ } else { ]}
            <header title="{{title}}" class="link-header">
                <a href="{{url}}">{{title}}</a>
            </header>
        {[ } ]}

		<footer>
            <div>Posted on {{dateString}}</div>
            {[ if(username) { ]}
                <div class="left submittedBy">Submitted by: <a href="/users/{{username}}">{{username}}</a></div>
            {[ } ]}
            <span class="voteWrapper {{userVoteClass}}" title="You must be logged in">
                <span class="upVote vote" data-score="1">&#x25B2;</span>
                <span class="downVote vote" data-score="-1">&#x25BC;</span>
            </span>
        </footer>
</script>