/* Globals */
*{box-sizing: border-box; -moz-box-sizing: border-box}
html{background: #efefef;margin: 0;}
body{margin: 0;}

h1{text-align: center;font-size: 1.5em;margin: 0.5em;}

/* Layout */
.container{margin: 2.5em 0;}
.inner{padding:5px;max-width: 1024px;width: 100%;margin: 0 auto;overflow: hidden}
.container .inner{background:#fff;}
.main{}

/* Global Styles */
.header{background: #0d3349;box-shadow:0 3px 3px #999;color: #fff;margin-bottom: 1em;top: 0;}
.header ul{margin: 0;padding: 0;}
.header ul li{display: inline;}
.header li a{color: #fff;}
.footer{background: #444444;color: #fff;bottom: 0;}
.header,
.footer {position: fixed;width: 100%;}
.error {border:1px dashed #ccc;color: #f00;text-align: center;}

/* Helpers */
.left{float: left}
.right{float: right}
.clear{clear: both}

/* Technique Section */
.technique-list{}
.technique-groups{overflow: hidden;}
.technique-group{text-align: center;}
.technique-group label{float: left;border: 1px solid #fafafa;background: #efefef;}
.technique-group label:hover{cursor: pointer}
.technique-group .selectedLabel{background: #000 !important;color:#fff;text-shadow: 1px 1px 1px #666;}
.technique-group input{display: none;}

.technique-group.sub-group {width: 50%;float: left}

.technique-group.throws label,
.technique-group .throws{background: #abc;}

.technique-group.grapples label,
.technique-group .grapples{background: #EE5757;}

.technique-item{float:left;width:100%;max-width: 24%;height: 5em;text-align: center;border: 1px solid #8DB0F0;margin: 0.5%;cursor: pointer}
.technique-item:hover{box-shadow: 0 0 5px #999;}
.technique-item header{font-weight: bold;}
.technique-item section{font-size: 0.8em;}

.col1 label {width: 100%}
.col2 label {width: 50%}
.col3 label{width: 33.33%}
.col4 label{width: 25%}
.col5 label{width: 20%}

label.col2 {width: 50%;}


.sprite{background: #efefef;float: left;width: 4.5em;height: 100%;}
.gokyo-sprite{background: url(/images/gokyo.jpg) no-repeat top left;background-size: 600px;}

.post-list{overflow: hidden;}
.post{border: 1px solid #8DB0F0;float: left;padding: 0.5em;box-shadow: 0 0 5px #ccc;margin: 0.5%;width: 228px;height: 205px;}
.post input[type=text]{display: block;width: 100%;}

.post .link-header {height: 80%;}
.post .image-wrapper {background: #333;padding: 0.5em;max-height: 80%;overflow: hidden;}
.post .image-wrapper img {display: block; max-width: 100%;max-height: 80%;margin: 0 auto;}

/* Media Queries */
@media (max-width: 1024px) {
    .technique-item{max-width: 32%;}
}

@media (max-width: 768px) {
    .technique-item{max-width: 49%;}
}

@media (max-width: 480px) {
    .technique-item{max-width: 99%;}
}