/* Globals */
*{box-sizing: border-box; -moz-box-sizing: border-box}
html{margin: 0;font-family: 'Helvetica', 'Arial';background: #F2F2F2}
body{margin: 0;}

h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;

    margin: 0.5em;
    padding: 0.2em 3em;
    display: inline-block;
    border-radius: 1em;
    background: #3C96CB;
    color: #fff;
}
h2{font-size: 1.25em;clear: both;}

/* Layout */
.container {position: absolute;left: 0;right: 0;top: 0;z-index: -1}
.inner{padding:5px;max-width: 960px;width: 100%;margin: 0 auto;}
.inner:after{clear: both;display: block;content: ' '}
.container .inner{
    background: url(/images/hero.jpg) no-repeat top center #fff;
    border: 1px solid #D8D8D8;
    border-top:0;

    box-shadow: 0 0 0.5em #ccc;
    padding-top: 150px;
}
form label {display: block;}
.main {text-align: center}

/* Header */
.header{background: #0074B8;color: #fff;height: 3em;}
.logo{height: 2.5em;margin-right: 0.5em;}
.home-link {font-size: 1.5em;margin-right: 0.5em;}
.header ul{margin: 0;padding: 0;}
.header ul li{display: inline;}
.header li a{color: #fff;text-decoration: none;}

.header .nav {margin-top: 0.5em;font-size: 0.9em;}
.header .nav > li {padding: 0 1em; border-left: 1px solid #fff;}
.header .nav li.home-link {padding: 0; border: 0;}

/* Nav-List */
.nav-list {position: relative;padding:0 0.2em; cursor: pointer;}
.nav-list ul:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    content: '';
    width: 70px;
}
.nav-list ul {
    display: none;
    position: absolute;
    z-index: 1;
    background: #0074B8;
    border: 1px solid #aaa;
    width: 250px;
}
.nav-list .nav-arrow{font-size: 0.7em;}
.nav-list:hover ul {display: block;}
.nav-list ul li a{display: block;padding: 0.2em;border-bottom: 1px solid #eee;}
.nav-list ul li a:hover {background: #333;}

/* Footer */
.footer{background: #444444;color: #fff;bottom: 0;}
.footer {position: fixed;width: 100%;}


/* Error Handling */
.error {border:1px dashed #ccc;color: #f00;text-align: center;}
.hasError input[type=text]{border: 1px solid #f00;}

/* Helpers */
.left{float: left}
.right{float: right}
.clear{clear: both}
.block {display: block}

.text-left {text-align: left}
.text-right {text-align: right}
.text-center {text-align: center}

.col1 label {width: 100%}
.col2 label {width: 50%}
.col3 label{width: 33.33%}
.col4 label{width: 25%}
.col5 label{width: 20%}

label.col2 {width: 50%;}

.column2 {width: 50%;}
.column3 {width: 33.33%;}
.column4 {width: 25%;}
.column5 {width: 20%;}

/* Auth Pages */
.auth-form {max-width: 250px;margin: 0 auto;}
.auth-form label {clear: both}
.auth-input {float: right;min-width: 130px;margin: 0 0 3px;}
.auth-input.noedit {background:#efefef;border: 1px solid #ccc;text-align: center;cursor: not-allowed}

/* Technique Section */
.technique-list{}
.technique-groups{overflow: hidden;}
.technique-group{text-align: center;}
.technique-group label{float: left;padding: 8px 0;}
.technique-group label span {background: #efefef;padding: 5px 1em;border-radius: 1em;}
.technique-group label:hover{cursor: pointer}
.technique-group .selectedLabel span{background: #3C96CB;color:#fff;text-shadow: 1px 1px 1px #666;}
.technique-group input{display: none;}

.technique-group.sub-group {width: 50%;float: left}

.technique-item{float:left;width:100%;max-width: 24%;height: 5em;text-align: center;border: 1px solid #8DB0F0;margin: 0.5%;cursor: pointer}
.technique-item:hover{box-shadow: 0 0 5px #999;}
.technique-item header{font-weight: bold;}
.technique-item section{font-size: 0.8em;}

/* User */
.users {list-style: none;padding: 0;overflow: hidden;}
.users .user a{background: #efefef;min-height: 85px;overflow: hidden;margin-bottom: 0.5em;padding: 5px;width: 100%;max-width: 49%;margin: 0.5%;float: left}
.users .user a:hover {box-shadow: 0 0 5px #999;}
.users .user .avatar{background:#dfdfdf;float: left;height:75px;width: 80px;margin-right:0.5em;position: relative}
.users .user .avatar img{display: block;margin: 0 auto;min-height: 75px;}

.users .rank {
    background: none;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0em;
    height: 0.8em;
    width: 100%;
    box-shadow: 0 0 2px #000;
}

.rank.hide {display: none}
.rank.white-belt {background: #fff;}
.rank.yellow-belt {background: #ff0;}
.rank.orange-belt {background: #ffa500}
.rank.green-belt {background: green}
.rank.blue-belt {background: blue}
.rank.purple-belt {background: purple}
.rank.brown-belt {background: brown}

.rank.first-dan,
.rank.second-dan,
.rank.third-dan,
.rank.fourth-dan,
.rank.fifth-dan {background: #000}

.rank.sixth-dan,
.rank.seventh-dan,
.rank.eighth-dan {background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 50%, #b30909 51%, #b30909 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#b30909), color-stop(100%,#b30909)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#b30909 51%,#b30909 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#b30909 51%,#b30909 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#b30909 51%,#b30909 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,#b30909 51%,#b30909 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b30909',GradientType=1 ); /* IE6-9 */
}
.rank.ninth-dan,
.rank.tenth-dan,
.rank.elevan-dan {background: #B30909}

.sprite{background: #efefef;float: left;width: 4.5em;height: 100%;}
.gokyo-sprite{background: url(/images/gokyo.jpg) no-repeat top left;background-size: 600px;}

.post-list{overflow: hidden;}
.posts {padding: 0;}
.post{border: 1px solid #8DB0F0;float: left;padding: 0.5em;box-shadow: 0 0 5px #ccc;margin: 0.5%;width: 100%;height: 225px;list-style: none;max-width: 24%;position: relative}
.post.approved-false {background: red;}
.post input[type=text]{display: block;width: 100%;}
.post .toggleApproved {display: inline}
.post embed {width: 100%;}

.post header {
    text-align: center;
    height: 1.2em;
    width: 100%;
    border-bottom: 1px solid #666;
    margin-bottom: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post .link-header {height: 150px;}
.post .image-wrapper {
    background: #333;
    padding: 0.5em;
    height: 150px;
    width:100%;
}
.post .image-wrapper .image{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    display: block
}
.post .submittedBy {font-size: 0.8em;}
.post .submitNewPost {
    background: #3C96CB;
    color: #fff;
    margin-top: 1em;
    height: 5em;
    border-radius: 4em;
    width: 5em;
    cursor: pointer;
}
.post .submitNewPost:hover {
    color: #efefef;
    background: #3C46CB;
}
.post .new-post-type label {
    padding: 0 0.5em;
}
.post .new-post-type label:nth-child(even) {
    background: #efefef;
}
.post .new-post-type label:hover {
    background: #aaa;
}
.post .new-post-error {color: red;}
.post .voteWrapper{
    cursor: pointer;
    float: right;
    border: 1px solid #efefef;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.post .voteWrapper .vote {float: left;}
.post .voteWrapper .vote:hover {background: #efefef;}
.post .voteWrapper.up .upVote,
.post .voteWrapper.down .downVote{color: #0074B8;background: #efefef;}

/* Media Queries */

.visible-mobile,
.visible-tablet  {display: none}

.hidden-mobile,
.hidden-tablet {display: block;}

@media (max-width: 1024px) {
    .post,
    .technique-item{max-width: 32%;}
}

@media (max-width: 768px) {
    .post,
    .technique-item{max-width: 49%;}
}

@media (max-width: 550px) {
    .users .user a {max-width: 99%;}

    .visible-tablet {display: block;}
    .hidden-tablet {display: none}
}

@media (max-width: 480px) {
    .post,
    .technique-item{max-width: 99%;}

    .visible-mobile {display: block;}
    .hidden-mobile {display: none;}
}